cloud_id                 = ""
folder_id                = ""
zone                     = "ru-central1-a"
subnet_id                = ""
public_key_path          = "~/.ssh/yc.pub"
service_account_key_file = "key.json.local"
private_key_path         = "~/.ssh/yc"
app_disk_image           = ""
db_disk_image            = ""
